[submodule "ncbi"]
	path = ncbi
	url = https://github.com/ncbi/ncbi-cxx-toolkit-public
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib
[submodule "blat"]
	path = blat
	url = https://github.com/djhshih/blat
[submodule "xlsx"]
	path = xlsx
	url = https://github.com/QtExcel/QSimpleXlsxWriter
